:root {
    --mainLightFontColor: #f8f7f1;
    --mainDarkBackgroundColor: rgb(5, 5, 5);

    --headerMarginsValue: 45px;
    --progressBarCounterHeight: 1.6rem;

    --titleLargeFont: "Montserrat", sans-serif;
    --titleLargeFontSerif: "Playfair Display", serif;
    --articleSmallerFont: "Source Sans 3", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    cursor: default;
}

html {
    font-size: 66%;
    color: var(--mainLightFontColor);
    scroll-behavior: smooth;
}

body {
    background-color: var(--mainDarkBackgroundColor);
}

/* BACKGROUND */

.bg {
    position: fixed;
    z-index: -1;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url(img/noise-transparent.png) repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
  }
  
  @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
  }




/* HEADER SECTION */

.mainNavbar {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    color: #FDFCF8;
}

.mainNavbar button {
    position: relative;
    z-index: 2;
    height: 46px;
    padding: 10px 25px;
    font-family: var(--articleSmallerFont);
    font-size: 1.6rem;
    color: var(--mainLightFontColor);
    background-color: transparent;
    border: 1px solid;
    border-radius: 50px;
    /* border-radius: 20px; */
    text-transform: uppercase;
    letter-spacing: .5px;
    cursor: pointer;
    overflow: hidden;
    transition: .3s;
    /* background-color: #FDFCF8; */
}

/* Buttons Animation */

.wave {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 50%;
    background: url(img/wave.svg);
    background-size: 200% 100%;
    top: 65%;
    left: 0;
    animation: waveMove 2s linear infinite;
    transition: .3s;
}

.secondWave {
    position: absolute;
    width: 100%;
    height: 30%;
    background: url(img/wave.svg);
    background-size: 200% 100%;
    opacity: .4;
    top: 65%;
    left: 0;
    animation: waveMove 2s linear infinite reverse;
    transition: .3s;
}

.secondWave {
    cursor: pointer;
}

.mainNavbar button:hover .wave {
    height: 280%;
    top: -175%;
}

.mainNavbar button:hover {
    color: var(--mainDarkBackgroundColor);
    border-color: #FDFCF8;
}

@keyframes waveMove {
    0% {
       background-position-x: 0;
    }

    100% {
        background-position-x: 200%;
    }
}



.logoContainer {
    display: flex;
    height: 80px;
    width: 200px;
}

.logoContainer .logo {
    margin: 15px auto 0 auto;
}

.logoContainer .animationSquare {
  position: relative;
  /* z-index: -1; */
  top: 60%;
  left: -50%;
  transform: rotate(45deg);
  width: 7px;
  height: 7px;
  background-color: rgb(255, 255, 255);
  animation: squareMove 4s infinite ease-in-out;
}

@keyframes squareMove {
  0% {
    top: 55%;
  } 
  15% {
    transform: rotate(45deg);
    top: 20%;
  }
  40% {
     transform: rotate(225deg);
  }
  50% {
    transform: rotate(225deg);
  }
  85% {
    transform: rotate(45deg);
    top: 20%;
  }
  100% {
    top: 55%;
  }
 
}


.contactShowBtn {
    margin: 30px 0px 0px var(--headerMarginsValue);
}



.contactContainer {
 display: flex;
}

.contactContainer img {
    position: relative;
    height: 32px;
    display: block;
    margin: 37px 0px 0px 20px;
    cursor: pointer;

    left: -120px;
    overflow: hidden;
    opacity: 0;
}

.linkedinImage {
    transition: .4s;
    transition-delay: .2s;
}

.githubImage {
    transition: .4s;
}

.projectsShowBtn {
    margin: 30px var(--headerMarginsValue) 0px 0px;
}

.contactContainer img.show {
    left: 0px;
    opacity: 1;
}






.mainImageContainer {
  position: relative;  
  width: calc(100% - (2 * var(--headerMarginsValue)));
  max-width: calc(1920px - (2 * var(--headerMarginsValue)));
  height: 80vh;
  margin: 0 auto;
  border-radius: 50px; 

  background-color: rgb(66, 66, 66);
  overflow: hidden;
}

.mainImageContainer.textHidden {
    overflow: none;
}

.mainImageContainer h1 {
    position: absolute;
    width: 95%;
    /* bottom: -3.5rem; */
    bottom: -30rem;
    left: 50%;
    transform: translateX(-50%);

    text-transform: uppercase;
    text-align: center;

    font-family: var(--titleLargeFontSerif);
    font-size: 9.5rem;
    transition: .2s;
}

/* .scrollWindowAnimation {
 background-color: transparent;
 width: 100%;
 height: 100%;
 position: fixed;
 z-index: 300;
 overflow-y: scroll;
} */

.scrollPrevent {
    background-color: transparent;
    width: 100%;
    height: 120%;
}

.scrollWindowAnimation::-webkit-scrollbar {
    display: none;
}

/* Projects section */

.projectsTitle {
    display: block;
    font-family: var(--titleLargeFont);
    font-weight: 400;
    border-bottom: 3px solid white;
    width: 65%;
    max-width: 1920px;
    padding-bottom: 1rem;
    margin: 15rem auto 2rem auto;
    margin-left: var(--headerMarginsValue);
    font-size: 3rem;
    
}

.projects {
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
}

/* Progressbar section */
.progressBar {
    display: flex;
    padding-top: 4rem;
    margin: 0 var(--headerMarginsValue);
    align-items: center;
}

.barTitle {
  font-size: 2rem;
  font-family: var(--articleSmallerFont);
  margin-left: var(--headerMarginsValue);
  margin-right: 10px;
  line-height: 30px;
}

.bar {
    position: relative;
    bottom: 15px;
    width: 85%;
    border-bottom: 1px solid;
    color: var(--mainLightFontColor);
}

.progressCounter {
    position: absolute;
    height: var(--progressBarCounterHeight);
    bottom: calc(-1 * (var(--progressBarCounterHeight)/2));
    left: 10px;
    padding: 0px 5px;
    background-color: var(--mainDarkBackgroundColor);
    font-size: var(--progressBarCounterHeight);  
    font-family: var(--articleSmallerFont);
}

.moveBtn {
    width: 36px;
    height: 36px;
    border: 3px solid;
    border-radius: 50%;
    color: var(--mainLightFontColor);
    margin-left: 15px;
    cursor: pointer;
    overflow: hidden;
}

.moveBtn i {
   position: relative;
   z-index: -1;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   font-size: 1.8rem;
   opacity: 1; 
   transition: .5s;
}

.leftBtn {
    margin-left: 30px;
}

.leftBtn:hover .fa-chevron-left {
    animation: leftArrowMove 1s infinite ;
}

.rightBtn:hover .fa-chevron-right {
    animation: rightArrowMove 1s infinite ;
} 

@keyframes leftArrowMove {
    0% {
      left: 50%;
    }

    48% {
      left: -50%;
    }
    49%{
      opacity: 0;
      left: 100%;
    }
    50% {
        opacity: 1;
    }

    100% {
     left: 50%;
    }
}

@keyframes rightArrowMove {
    0% {
      left: 50%;
    }

    48% {
      left: 100%;
    }
    49%{
      opacity: 0;
      left: -50%;
    }
    50% {
        opacity: 1;
    }

    100% {
     left: 50%;
    }
}


#progress {
    position: relative;
    flex-grow: 1;
  }

#progress-bar {
    position: absolute;
    background-color: var(--mainLightFontColor);
    height: 3px;
    width: 0%;
    top: 50%;
    left: 0;
    transition: .3s;
}

#progress-num {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#progress-num::before {
    content: "";
    background: rgba(80, 80, 80, .2); 
    position: absolute;
    top: 50%;
    left: 0;
    height: 3px;
    width: 100%;
    transform: translateY(-50%);
    z-index: -1;
    transition: .4s;
}

#progress-num .step {
    border: 3px solid rgba(80, 80, 80, .2);
    border-radius: 100%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: var(--mainDarkBackgroundColor);
    font-family: sans-serif;
    font-size: 14px;    
    position: relative;
    z-index: 1;
    transition: .1s;
}

#progress-num .step.active {
    background-color: var(--mainLightFontColor);
    border-color: var(--mainLightFontColor);
}


.projectsContainer {
  position: relative;
  width: calc(100% - (2 * var(--headerMarginsValue)));
  max-width: calc(1920px - (2 * var(--headerMarginsValue)));
  height: calc(100vh - 8rem - 7rem);
  margin: 3.5rem auto;
  border-radius: 50px; 
  overflow: hidden;
}

.verticalBar {
    position: absolute;
    top: 0;
    height: 100%;
    width: 5px;
    z-index: 3;
    background-color: var(--mainDarkBackgroundColor);
    left: 65%;
    transition: .6s;
}

.projectView {
  width: 100%;
  height: 100%;
  border-radius: 50px; 
  overflow-y: scroll;

}

.projectView::-webkit-scrollbar {
    display: none;
}


#projectImage {
    width: 100%;
    transition: .6s;
}

.projectDetails {

    width: calc(35% - 5px);
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 4;
    background-image: url(img/projectsBlur.png);
    background-size: 200%;
    background-position-y: -60px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    transition: .6s;
    /* opacity: 0; */
}

.showDetails {
    position: absolute;
    width: 5%;
    height: 10%;
    right: -5%;
    top: 50%;
    z-index: 5;
    transform: translateY(-50%);
    background-image: url(img/projectsBlur.png);
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    cursor: pointer;

    transition: .4s;
}

.detailsFlexWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    

}

.detailsWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    padding: 0 4rem;
 
}

.iconsWrapper {
    display: flex;
    gap: 1.5rem;
}

.iconsWrapper img {
    height: 50px;
}

.buttonsDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.buttonsDetailsContainer button {
    position: relative;
    z-index: 200;
    height: 46px;
    padding: 10px 25px;
    font-family: var(--articleSmallerFont);
    font-size: 1.6rem;

    color: var(--mainLightFontColor);
    background-color: transparent;
    border: 1px solid;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: .5px;
    cursor: pointer;

    transition: .3s;
}

.showWebsite {
    position: relative;
    z-index: 200;
}

.buttonsDetailsContainer button:hover {
    background-color: var(--mainLightFontColor);
    border-color: var(--mainLightFontColor);
    color: var(--mainDarkBackgroundColor);
}

.websiteDescription {
  font-size: 2.3rem;
  text-align: center;
  font-family: var(--articleSmallerFont);
  font-weight: 300;
}

.showDetails i {
    font-size: 3.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.showDetails.active {
    right: 0;
}

.scrollWrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    z-index: 50;
}

.scrollTrigger {
   height: calc(100%);
   width: 100%;
   pointer-events: none;
}

.scrollWrapper::-webkit-scrollbar {
  display: none;
}

.scrollIndicator {
  position: relative;
  bottom: calc(-50% + (20px));
  left: 0%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 52px;
  border: solid 2px white;
  border-radius: 28px;
  transition: .3s;
}

.scrollIndicator.hide{
  /* display: none; */
  opacity: 0;
}

.scrollIndicator::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 9px;
    border-radius: 2px;
    background-color: white;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    /* animation: scrollIndicatorMove 2s infinite; */
}

.scrollIndicator::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 8px;
    border-radius: 2px;
    background-color: white;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 85%);
    animation: scrollIndicatorMove 2s infinite;
}

@keyframes scrollIndicatorMove {
    0% {
      transform: translate(-50%, 0%);
    }

    50% {
        transform: translate(-50%, 85%);
    }

    100% {
       transform: translate(-50%, 0%);
    }
}






.description {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.descriptionWrapper {
   margin: 0 var(--headerMarginsValue);
}

.description  article {
    width: 75%;
    font-size: 8rem;
    font-family: var(--articleSmallerFont);
    font-weight: 300;

    /* margin: 15rem var(--headerMarginsValue); */
}

.firstDescription {
  
}

.secondDescription {
    padding-left: calc(25% - (var(--headerMarginsValue)));
  /* padding-left: calc(50% - 2 * (var(--headerMarginsValue))); */
  text-align: right;
}


.descriptionFlexContainer {
    display: flex;
    margin: 15rem var(--headerMarginsValue);
}

.descriptionPhotoContainer {
  width: 100%;
  height: 1000px;
  /* background-color: aliceblue; */
}

.descriptionPhotoContainer img {
   display: block;
   height: 100%;
   margin: 0 auto;
}  


.descriptionSkillsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    /* gap: 10px; */
    width: 100%;
    height: 500px;
    /* background-color: rebeccapurple; */
    
    /* justify-content: center; */
    /* align-content: center; */
    align-self: center;
}

.skill-grid-1 {
  grid-area: 1/2/2/3;
}
.skill-grid-2 {
    grid-area: 2/2/3/3;
    transform: rotate(45deg);
}
.skill-grid-3 {
    grid-area: 2/3/3/4;
    transform: rotate(45deg);
}
.skill-grid-4 {
    grid-area: 3/1/4/2;
    transform: rotate(45deg);
}
.skill-grid-5 {
    grid-area: 3/2/4/3;
}
.skill-grid-6 {
    grid-area: 3/3/4/4;
}
.skill-grid-7 {
    grid-area: 4/1/5/2;
}
.skill-grid-8 {
    grid-area: 4/2/5/3;
}
.skill-grid-9 {
    grid-area: 4/3/5/4;
}

.skillContainer {
    /* position: relative; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* transform: rotate(45deg); */
    width: 100px;
    height: 100px;
    margin: 0 auto;
    /* border: 2.5px solid white; */
    border-radius: 15px;

    align-items: center;
    justify-items: center;
}

.skillContainer img {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* border-radius: 50px; */
}

.skillsTitle {
    display: block;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--titleLargeFont);
}


.paragraphWrapper {
    padding: 6.4rem;
}


.paragraphText {
   font-size: 8rem;
   line-height: 1.2;
}

.paragraphText span {
    opacity: .1;
}

.firstDescription .paragraphText::before {
  content: 'About';
  border-bottom: 3px solid white;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  display: block;
}


