:root {
    --mainLightFontColor: #f8f7f1;
    --mainDarkBackgroundColor: rgb(22, 22, 22);

    --headerMarginsValue: 45px;
    --progressBarCounterHeight: 1.6rem;
}

* {
    margin: 0;
    padding: 0;
    cursor: default;
}

html {
    font-size: 66%;
    color: var(--mainLightFontColor);
}

body {
    background-color: var(--mainDarkBackgroundColor);
    /* overflow: hidden; */
}




.mainNavbar {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    color: aliceblue;
}

.mainNavbar button {
    position: relative;
    z-index: 2;
    height: 40px;
    padding: 10px 25px;

    color: var(--mainLightFontColor);
    background-color: transparent;
    border: 1px solid;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: .5px;
    cursor: pointer;
}

.logoContainer {
    display: flex;
    height: 80px;
    width: 200px;
}

.logoContainer .logo {
    margin: 15px auto 0 auto;
}

.logoContainer .animationSquare {
  position: relative;
  /* z-index: -1; */
  top: 60%;
  left: -50%;
  transform: rotate(45deg);
  width: 7px;
  height: 7px;
  background-color: rgb(255, 255, 255);
  animation: squareMove 4s infinite ease-in-out;
}

@keyframes squareMove {
  0% {
    top: 55%;
  } 
  15% {
    transform: rotate(45deg);
    top: 20%;
  }
  40% {
     transform: rotate(225deg);
  }
  50% {
    transform: rotate(225deg);
  }
  85% {
    transform: rotate(45deg);
    top: 20%;
  }
  100% {
    top: 55%;
  }
 
}


.contactShowBtn {
    margin: 30px 0px 0px var(--headerMarginsValue);
}



.contactContainer {
 display: flex;
}

.contactContainer img {
    position: relative;
    height: 32px;
    display: block;
    margin: 34px 0px 0px 20px;
    cursor: pointer;

    left: -120px;
    overflow: hidden;
    opacity: 0;
}

.linkedinImage {
    transition: .4s;
    transition-delay: .2s;
}

.githubImage {
    transition: .4s;
}

.projectsShowBtn {
    margin: 30px var(--headerMarginsValue) 0px 0px;
}


/* test */
.contactShowBtn:hover ~ img {
    left: 0px;
    opacity: 1;
}







.mainImageContainer {
  position: relative;  
  width: calc(100% - (2 * var(--headerMarginsValue)));
  max-width: calc(1920px - (2 * var(--headerMarginsValue)));
  height: 80vh;
  margin: 0 auto;
  border-radius: 50px; 
 
  
  background-color: rgb(66, 66, 66);
  overflow: hidden;
}

.mainImageContainer.textHidden {
    overflow: none;
}

.mainImageContainer h1 {
    position: absolute;
    width: 95%;
    /* bottom: -3.5rem; */
    bottom: -20rem;
    left: 50%;
    transform: translateX(-50%);

    text-transform: uppercase;
    text-align: center;

    font-size: 9.5rem;
    transition: .2s;
}

.scrollWindowAnimation {
 background-color: transparent;
 width: 100%;
 height: 100%;
 position: fixed;
 z-index: 300;
 overflow-y: scroll;
}

.scrollPrevent {
    background-color: transparent;
    /* background-color: black; */
    width: 100%;
    height: 120%;
}

.scrollWindowAnimation::-webkit-scrollbar {
    display: none;
}




/* Projects section */

.projectsTitle {
    height: 200px;
    max-width: 1920px;
    line-height: 200px;
    margin: 2rem auto 2rem auto;
    padding-left: var(--headerMarginsValue);
    font-size: 4rem;
    text-transform: uppercase;
}

.projects {
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
    /* background-color: rgb(26, 26, 26); */
}

/* Progressbar section */
.progressBar {
    display: flex;
    height: 3rem;
    padding-top: 2rem;
}

.barTitle {
  /* width: 5%; */
  font-size: 2rem;
  margin-left: var(--headerMarginsValue);
  /* padding-left: var(--headerMarginsValue); */
  margin-right: 10px;
  line-height: 30px;
}

.bar {
    position: relative;
    bottom: 15px;
    width: 85%;
    border-bottom: 1px solid;
    color: var(--mainLightFontColor);
}

.progressCounter {
    position: absolute;
    height: var(--progressBarCounterHeight);
    bottom: calc(-1 * (var(--progressBarCounterHeight)/2));
    left: 10px;
    padding: 0px 5px;
    background-color: var(--mainDarkBackgroundColor);
    font-size: var(--progressBarCounterHeight);  
}

.moveBtn {
    /* width: 5%; */
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-radius: 50%;
    color: var(--mainLightFontColor);
    margin-left: 10px;
    
    cursor: pointer;
    overflow: hidden;
}

.moveBtn i {
   position: relative;
   z-index: -1;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   font-size: 1.8rem;
   opacity: 1; 
   transition: .5s;
}

.rightBtn {
    /* margin-right: var(--headerMarginsValue); */
}

.leftBtn:hover .fa-chevron-left {
    animation: leftArrowMove 1s infinite ;
}

.rightBtn:hover .fa-chevron-right {
    animation: rightArrowMove 1s infinite ;
} 


@keyframes leftArrowMove {
    0% {
      left: 50%;
    }

    48% {
      left: -50%;
    }
    49%{
      opacity: 0;
      left: 100%;
    }
    50% {
        opacity: 1;
    }

    100% {
     left: 50%;
    }
}

@keyframes rightArrowMove {
    0% {
      left: 50%;
    }

    48% {
      left: 100%;
    }
    49%{
      opacity: 0;
      left: -50%;
    }
    50% {
        opacity: 1;
    }

    100% {
     left: 50%;
    }
}

.projectsContainer {
  width: calc(100% - (2 * var(--headerMarginsValue)));
  max-width: calc(1920px - (2 * var(--headerMarginsValue)));
  height: calc(100vh - 5rem - 7rem);
  margin: 3.5rem auto;
  border-radius: 50px; 
  background-color: rgb(66, 66, 66);
}

.verticalBar {
    position: relative;
    height: 100%;
    width: 10px;
    background-color: var(--mainDarkBackgroundColor);
    left: 70%;
}